.home{
  display: flex;
  .homeContainer{
    flex-grow: 7;
  }
  .widgets, .charts{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .charts{
    padding: 5px 20px;
  }
}